.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;

}
.signup-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 350px; /* 가로 크기를 조정 (원하는 크기로 변경) */
  height: 800px; /* 세로 크기를 조정 (원하는 크기로 변경) */
  border-radius: 10px; /* 양 모서리를 둥글게 만듭니다. */
}
.signup-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signup-container form {
  width: 300px;
  margin: 0 auto;
}

.signup-container label {
  position: relative;
  font-size:12pt;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #0056b3;
}
